@* @page "/charts"
@inject IJSRuntime JS

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="Charts.js"></script>

<div class="container mt-5">
    <h2>Plotly Chart Example</h2>
    <div id="plotlyChart" style="width: 100%; height: 500px;"></div>
</div>

@code {
    private List<DataItem> Data = new List<DataItem>
    {
        new DataItem { Month = "January", Value = 12 },
        new DataItem { Month = "February", Value = 19 },
        new DataItem { Month = "March", Value = 3 },
        new DataItem { Month = "April", Value = 5 },
        new DataItem { Month = "May", Value = 2 },
        new DataItem { Month = "June", Value = 3 },
        new DataItem { Month = "July", Value = 10 }
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var labels = Data.Select(d => d.Month).ToArray();
            var values = Data.Select(d => d.Value).ToArray();
            await JS.InvokeVoidAsync("createPlotlyChart", labels, values);
        }
    }

    public class DataItem
    {
        public string Month { get; set; }
        public int Value { get; set; }
    }
} *@