@page "/miles95"
@rendermode InteractiveServer


<PageTitle>Miles95</PageTitle>

<button @onclick="FetchData">Get Data</button>


@if (json != null)
{
    <h3>Date: @json.date</h3>
    <p>Price: @json.price</p>
}

@code {
    using System.Net.Http.Json;
    using System.Text.Json;
    public Todo? json;

    [Inject]
    public HttpClient Http { get; set; } = default!;
    

    public async Task FetchData()
    {
        Console.WriteLine("FetchData called");

        // Fetch the raw JSON as a string for debugging
        var json = await Http.GetStringAsync("https://magsapi.onrender.com/api/miles95");
        Console.WriteLine($"Raw JSON: {json}");

        StateHasChanged();
    }

    public class Todo
    {   
        public string date { get; set; }
        public float price { get; set; }
    }
}
